node_modules
.next
.git
.gitignore
*.md
.env*
.env*.local
Dockerfile
.dockerignore
coverage
__tests__
.playwright
jest.config.ts
jest.setup.ts
playwright.config.ts
prisma/dev.db
prisma/dev.db-journal
.vercel
.vscode
docs
